/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/application.css */


body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

  header, nav {
    background-color: #08643c;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

  a {
    color: #e28743;
    text-decoration: none;
  }

  a:hover {
    color: #2c3e50;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: #ffffff;
  }


  nav ul li a:hover {
    color: #f0a500;
  }

  .car-detail-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .car-detail-container h2 {
    text-align: center;
  }

  .car-detail-container p {
    margin: 10px 0;
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .logo {
    width: 250px;
    height: auto;
  }


  h1, h2 {
    text-align: center;
    margin: 20px 0;
  }

.erd-container {
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  .cars-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cars-list ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.cars-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cars-list li:last-child {
    border-bottom: none;
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* Form */
.form-container {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 2px solid #08643c;
  border-radius: 5px;
  padding: 20px;
  background-color: #08643c;

}

.search-form .form-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.search-form label {
  flex: 1;
  margin-right: 10px; /* Spacing between label and input */
}

.search-form input[type="text"] {
  border: 1px solid #08643c;
  padding: 10px;
  border-radius: 5px;
  flex: 2;
}

.search-form input[type="submit"] {
  background-color: #f0a500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.search-form input[type="submit"]:hover {
  background-color: #4db81b;
}