<h1>Cars Available for Rent</h1>
<div class="cars-list">
    <ul>
        <% @cars.each do |car| %>
            <li><%= link_to car.brand, car_path(car) %> <%= car.model %></li>
        <% end %>
    </ul>

    <%= paginate @cars %>
</div>
